# /etc/systemd/system/postgres.service
[Unit]
Description=Start PostgreSQL Container

[Service]
Type=simple
User=podman
Group=podman
RuntimeDirectory=postgres
RuntimeDirectoryMode=0700
# we use /run/user/id for the case that we want to login
Environment=DBUS_SESSION_BUS_ADDRESS=unix:path=/run/user/$(id -u podman)/bus
Environment=XDG_RUNTIME_DIR=/run/user/$(id -u podman)
LoadCredentialEncrypted=postgres.cred:/etc/systemd/credentials/postgres.cred
ExecStartPre=/bin/mkdir -p /run/user/$(id -u podman)
ExecStartPre=/bin/chown podman:podman /run/user/$(id -u podman)
ExecStartPre=/bin/sh -c '\
    umask 077 && \
    echo "POSTGRES_PASSWORD=$(cat ${CREDENTIALS_DIRECTORY}/postgres.cred)" > /run/postgres/postgres.env \
'
ExecStartPre=/bin/sh -c '/usr/bin/podman volume create pgdata || true'
ExecStartPre=/bin/sh -c '/usr/bin/podman network create postgres || true'
ExecStartPre=/bin/sh -c '/usr/bin/podman pull docker.io/postgres:latest || true'
ExecStartPre=/usr/bin/podman create \
    --replace \
    --name postgres \
    --network postgres \
    --env-file /run/postgres/postgres.env \
    -e PGDATA=/var/lib/postgresql/18/docker \
    -v pgdata:/var/lib/postgresql/18/docker \
    docker.io/postgres
ExecStart=/usr/bin/podman start postgres
ExecStop=/usr/bin/podman stop postgres
Restart=on-failure
RestartSec=10
StartLimitIntervalSec=60
StartLimitBurst=3

[Install]
WantedBy=multi-user.target
