# /etc/systemd/system/postgres.service
[Unit]
Description=Start ausgabenzettel Container

[Service]
Type=simple
Environment=PODMAN_SYSTEMD_UNIT=%n
RuntimeDirectory=ausgabenzettel
RuntimeDirectoryMode=0700
ExecStartPre=/bin/sh -c '/usr/bin/podman rm -f ausgabenzettel || true'
ExecStart=/usr/bin/podman run --name ausgabenzettel \
    --rm \
    -v /etc/ausgabenzettel/server.key:/etc/ausgabenzettel/server.key:Z,ro \
    -v /etc/ausgabenzettel/server.cer:/etc/ausgabenzettel/server.cer:Z,ro \
    -v /etc/ausgabenzettel/ca.cer:/etc/ausgabenzettel/ca.cer:Z,ro \
    -v /var/lib/ausgabenzettel:/var/lib/ausgabenzettel:rw \
    -e AUSGABENZETTEL_LISTENING="0.0.0.0:3000" \
    -p 3000:3000 \
    ghcr.io/nichtsfrei/ausgabenzettel:main
ExecStop=/usr/bin/podman stop ausgabenzettel
Restart=on-failure

[Install]
WantedBy=default.target
