# /etc/systemd/system/postgres.service
[Unit]
Description=Start Passbolt Container
Requires=postgres.service
After=postgres.service

[Service]
Type=simple
Environment=PODMAN_SYSTEMD_UNIT=%n
RuntimeDirectory=passbolt
RuntimeDirectoryMode=0700
LoadCredentialEncrypted=postgres.cred:/etc/systemd/credentials/postgres.cred
LoadCredentialEncrypted=passbolt-full-base-url.cred:/etc/systemd/credentials/passbolt-full-base-url.cred
ExecStartPre=/bin/sh -c '\
    umask 077 && \
    echo "DATASOURCES_DEFAULT_URL=postgres://postgres:$(cat ${CREDENTIALS_DIRECTORY}/postgres.cred)@postgres:5432/postgres?schema=passbolt" > /run/passbolt/passbolt.env &&\
    echo "DATASOURCES_DEFAULT_DRIVER=Cake\Database\Driver\Postgres" >> /run/passbolt/passbolt.env &&\
    echo "DATASOURCES_DEFAULT_ENCODING=utf8" >> /run/passbolt/passbolt.env &&\
    echo "APP_FULL_BASE_URL=$(cat ${CREDENTIALS_DIRECTORY}/passbolt-full-base-url.cred)" >> /run/passbolt/passbolt.env \
'
ExecStartPre=/bin/sh -c '/usr/bin/podman volume create passbolt_gpg || true'
ExecStartPre=/bin/sh -c '/usr/bin/podman volume create passbolt_jwt || true'
ExecStartPre=/bin/sh -c '/usr/bin/podman rm -f passbolt || true'
ExecStart=/usr/bin/podman run --name passbolt \
    --rm \
    --network postgres \
    --env-file /run/passbolt/passbolt.env \
    -v passbolt_gpg:/etc/passbolt/gpg \
    -v passbolt_jwt:/etc/passbolt/jwt \
    -v /etc/passbolt/certificate.key:/etc/ssl/certs/certificate.key:Z,ro \
    -v /etc/passbolt/certificate.crt:/etc/ssl/certs/certificate.crt:Z,ro \
    -p 8443:443 \
    docker.io/passbolt/passbolt:latest-ce
ExecStop=/usr/bin/podman stop passbolt
Restart=on-failure

[Install]
WantedBy=multi-user.target
