[Unit]
Description=Autologin service for %i
After=graphical.target

[Service]
ExecStart=-/sbin/agetty --autologin %i --noclear %I 38400 linux
Type=simple
Restart=always

[Install]
WantedBy=multi-user.target
