[Unit]
Description=PostgreSQL Container
Wants=postgres.service
After=network-online.target
Requires=network-online.target
RequiresMountsFor=/run/user/%U/containers

[Service]
Type=oneshot
TimeoutStartSec=600
User=philipp
Group=philipp
ExecStart=/usr/bin/podman pull docker.io/postgres:latest
ExecStartPost=/bin/systemctl restart postgres.service
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
