# /etc/systemd/system/postgres.service
[Unit]
Description=PostgreSQL Container
Wants=network-online.target
After=network-online.target
RequiresMountsFor=/run/user/%U/containers

[Service]
Type=simple
User=philipp
Group=philipp
RuntimeDirectory=postgres
RuntimeDirectoryMode=0700
Environment=PODMAN_SYSTEMD_UNIT=%n
LoadCredentialEncrypted=postgres.cred:/etc/systemd/credentials/postgres.cred
ExecStartPre=/bin/sh -c '\
    umask 077 && \
    echo "POSTGRES_PASSWORD=$(cat ${CREDENTIALS_DIRECTORY}/postgres.cred)" > /run/postgres/postgres.env \
'
ExecStartPre=/bin/sh -c '/usr/bin/podman volume create pgdata || true'
ExecStartPre=/bin/sh -c '/usr/bin/podman network create postgres || true'
ExecStartPre=/bin/sh -c '/usr/bin/podman rm -f postgres || true'
ExecStart=/usr/bin/podman run \
    --rm \
    --name postgres \
    --network postgres \
    --env-file /run/postgres/postgres.env \
    -e PGDATA=/var/lib/postgresql/18/docker \
    -v pgdata:/var/lib/postgresql/18/docker \
    docker.io/postgres
ExecStop=/usr/bin/podman stop postgres
Restart=on-failure

[Install]
WantedBy=multi-user.target
