[Unit]
Description=Ausgabenzettel Container
Wants=ausgabenzettel.service
After=network-online.target
Requires=network-online.target
RequiresMountsFor=/run/user/%U/containers

[Service]
Type=oneshot
TimeoutStartSec=600
ExecStart=/usr/bin/podman pull ghcr.io/nichtsfrei/ausgabenzettel:main
ExecStartPost=/bin/systemctl restart ausgabenzettel.service
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=default.target
